/*Styles that are used throughout the page*/
* {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
}
.indent {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    color: yellow;
}
/*This is the css used exclusively for my header*/
header{
    background-color: yellow;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#k {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/**/
#Socials{
    background-color: red;
    text-align: center;
}
/*This are the styles for the table*/
.table{
    background-color: red;
    padding: 40px;
}
table, th, td{
    border-color: yellow;
    border-style: solid;
}
/*This are the styles for the video*/
#videos{
    background-color: red;
}
ul{
    list-style: none;
    text-align: center;
}
/*These are the styles for the footer*/
footer {
    background-color: yellow;
    padding: 30px;
    font-size: 30px;
}
